
/* container */

.container
{
    /* width:100vw; */
    height:auto;
    display:flex;
    justify-content: space-around;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

.premium-container
{
    width:70vw;
    min-width:280px;
    
}
.most-valued-container
{
    width:25vw;
    min-width:280px;
}

.premium-container,.most-valued-container
{
    min-height:400px;
    background:#fff;
    border-radius: 15px;
    box-shadow: 0px 0px 22px 0px #cfcfcf;
    position: relative;
}

.sub-header
{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sub-header input
{
    text-align: center;
    padding:8px 0px;
    padding-left:30px;    
    border:none;
    /* background:#f7f7f7; */
    outline:none;
    border-radius: 25px;
    background: white;
    box-shadow: 0px 0px 8px 1px #f0f0f0;
}

.sub-header input::placeholder
{
    color:#cdcecf;
}

.sub-header button
{
  
    background:white;
    outline:none;
    border:none;
    cursor: pointer;
    
}

.send-icon
{
    width:25px;
    height:auto;
}

input::-webkit-calendar-picker-indicator {
    opacity:1;
    color:#252796;
    margin-right:30px;
    padding:0px;
  }




.sub-heading
{
    padding:20px;
}

.sub-heading h2
{
    color:#aca9a9;
}

.sub-heading h2 span
{
    color:#8d79eb;
    /* color:#ffc401; */
    color:#36128a;
}





.edit-suggestion a
{
    text-decoration: none;
    color:#5e5e5e;
}

/* Book card styles */
.book-container
{
    padding-left:30px;
    padding-top: 10px;
    padding-right:30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}
.book-card
{
    position:relative;
    width:250px;
    height:300px;
    padding:20px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0px 0px 10px 1px #d6d6d6;
}

.book-heading
{
    text-align: center;
    font-size: 15px;
    color:#4b4b4b;
    height:50px;
    padding:0px 5px;
}

.book-thumbnail
{
    display:flex;
    height:100px;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
}

.book-thumbnail img
{
    width:100px;
    height:100px;
    
    border-radius: 50%;
}

.book-thumbnail h4
{
    color:#727272;
}

.book-thumbnail h4 span
{
    color:#a1a1a1;
}


.book-checkout
{
    margin-top: 30px;
    text-align: center;
}

.book-checkout a
{
    text-decoration: none;
    background:#2d037c;
    color:white;
    border-radius: 30px;
    padding:8px 30px;
    font-size: 14px;
    transition: .3s ease-in-out;
}

.book-checkout a:hover
{
    background:#272727;
}

.book-spec
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width:250px;
    margin-left: -20px;
}

.book-spec div
{
    text-align: center;
    position:relative;
}

.book-spec p
{
    font-size: 12px;
    transition: .3s ease-in-out;
}

.book-spec a
{
    text-decoration: none;
}


.book-spec a i
{
    font-size: 20px;
    color:#272727;
    transition:.3s ease-in-out;
}

.book-spec a i:hover
{
    color:#aaaaaa;
}

.book-spec div:hover >   p
{
    font-weight: 1000;
}

/* book card 3 dots */
.more 
{
    position:absolute;
    right:15px;
    z-index: 99;

}

.more button
{
    cursor: pointer;
    background:transparent;
    border:none;
    outline:none;
    color:#000000;
    font-size: 15px;
}

.card-layer
{
    z-index: 0;
    position: absolute;
    left:0px;
    right:0px;
    bottom:0px;
    top:0px;
    background:#000000cc;
    border-radius: inherit;
    visibility: hidden;
}

.more-options
{
    position:absolute;
    right:30px;
    top:30px;
    background:white;
    width:150px;
    /* border:1px solid red; */
    border-radius: 10px 0px 10px 10px;
    visibility:hidden;


}
button.more-white
{
    color:#fff;
}



.show-more
{
    visibility:visible;
}

.more-options ul
{
    list-style:none;
}
.more-options ul a
{
    text-decoration: none;
}

.more-options ul li
{
    margin:15px;
    color:#2b2b2b;
    font-size: 14px;
    font-weight: 500;
    margin-left: 45px;
}

.more-options ul li button
{
    background:transparent;
    border:none;
    outline:none;
    font-weight: 500;
    color:#2b2b2b;
    cursor: pointer;
   
}

.more-options ul li span
{
    color:#190b92;
    margin-right: 3px;
}





@media screen and (max-width:1000px) 
{
    .container
    {
        width: 99vw;
     
        
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .premium-container
{
    
    width:90vw;
    min-width:280px;
    
}


.most-valued-container
{
    width:90vw;
    min-width:280px;
    margin-top: 50px;
}

.sub-header, .sort-by-cat, .sort-by
{
    width:80vw;
    text-align: center;
}

.sort-by-cat
{
    margin:20px 0px;
}

.sub-header button
{
   margin-top: 20px;
}





} 