
<div class="container">
    <h2 class="loginHeader">Change Password</h2>

@model ReadME.Models.ChangeData; 
    <div class="signupForm">
        <form id="form-changepass" method="post" action="/change/@ViewBag.userId" novalidate>

            <div class="wrapper">
                <input type="password" id="reg-password" asp-for="Password" required />
                <label for="reg-password" id="reg-passwordLabel">Password</label>

                <button type="button" class="logo"><i class="fa fa-eye"></i></button>
                <button type="button" class="logo offLogo"><i class="fa fa-eye-slash"></i></button>
            </div>
            <div class="wrapper">
                <input type="password" id="reg-confpass" asp-for="ConfPassword" required />
                <label for="reg-confpass" id="reg-confpassLabel">Confirm Password</label>

                <button type="button" class="logo"><i class="fa fa-eye"></i></button>
                <button type="button" class="logo offLogo"><i class="fa fa-eye-slash"></i></button>
            </div>
            <div class="signupSubmitWrapper">
                <ul class="signup-btn-wrapper">
                    <li><input type="submit" value="Confirm"></li>
                </ul>
            </div>
        </form>
    </div>
</div>