

    <section class="container">
        <div class="premium-container">
            <div class="sub-header">
                <div class="sub-heading">
                    <h2><span><i class="fa fa-layer-group"></i></span> Premium</h2>
                </div>
                <div class="sort-by-cat">
                    <input type="search" value="" placeholder="Category" name="" list="searchDataCont">
       
                    <datalist id="searchDataCont">
                        <option value="Science"></option>
                        <option value="General"></option>
                        <option value="Social"></option>
                        <option value="Economics"></option>
                    </datalist> 
                </div>
                <div class="sort-by">
                    <input type="search" value="" placeholder="Sort by" name="" list="sortDataCont">
       
                    <datalist id="sortDataCont">
                        <option value="Desc Price"></option>
                        <option value="Ascd Price"></option>
                        <option value="Popular"></option>
                        <option value="Recent"></option>
                    </datalist> 
                </div>
                <button><img class="send-icon" src="~/assets/Daco_4370644.png"/></button>
            </div>
            <div class="book-container">
                <div class="book-card">
                    <div class="more">
                        <button><span><i class="fa fa-ellipsis-v"></i></span></button>
                    </div>
                    <div class="card-layer"></div>
                    <div class="more-options">
                        <ul>
                            <a href="">
                                <li><span><i class="fa fa-bookmark"></i></span> Save</li>
                            </a>
                            
                            <li>
                                <button><span><i class="fa fa-share"></i></span> Share</button>
                            </li>
                            
                            <a href="">
                                <li><span><i class="fa fa-ban"></i></span> Report</li>
                            </a>
                            <a href="">
                                <li><span><i class="fa fa-th"></i></span> Similar</li>
                            </a>
                        </ul>
                    </div>
                    <div class="book-heading">
                        <h3>Java Bigginers guide
                            6th Edition with - new
                        </h3>
                    </div>
                    <div class="book-thumbnail">
                        <img src="~/assets/bg-mob.jpg" alt="">
                        <h4>Rs. <span>450</span></h4>
                    </div>
                    <div class="book-checkout">
                        <a href="">Checkout</a>
                    </div>
                    <div class="book-spec">
                        <div class="book-likes">
                            <p>138</p>
                            <a href="">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <div class="book-views">
                            <p>458</p>
                            <a href="">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                        <div class="book-feadback">
                            <p>56</p>
                            <a href="">
                                <i class="fa fa-comments"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="book-card">
                    <div class="more">
                        <button><span><i class="fa fa-ellipsis-v"></i></span></button>
                    </div>
                    <div class="card-layer"></div>
                    <div class="more-options">
                        <ul>
                            <a href="">
                                <li><span><i class="fa fa-bookmark"></i></span> Save</li>
                            </a>
                            
                            <li>
                                <button><span><i class="fa fa-share"></i></span> Share</button>
                            </li>
                            
                            <a href="">
                                <li><span><i class="fa fa-ban"></i></span> Report</li>
                            </a>
                            <a href="">
                                <li><span><i class="fa fa-th"></i></span> Similar</li>
                            </a>
                        </ul>
                    </div>
                    <div class="book-heading">
                        <h3>Java Bigginers guide
                            6th Edition with - new
                        </h3>
                    </div>
                    <div class="book-thumbnail">
                        <img src="~/assets/bg-mob.jpg" alt="">
                        <h4>Rs. <span>450</span></h4>
                    </div>
                    <div class="book-checkout">
                        <a href="">Checkout</a>
                    </div>
                    <div class="book-spec">
                        <div class="book-likes">
                            <p>138</p>
                            <a href="">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <div class="book-views">
                            <p>458</p>
                            <a href="">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                        <div class="book-feadback">
                            <p>56</p>
                            <a href="">
                                <i class="fa fa-comments"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="book-card">
                    <div class="more">
                        <button><span><i class="fa fa-ellipsis-v"></i></span></button>
                    </div>
                    <div class="card-layer"></div>
                    <div class="more-options">
                        <ul>
                            <a href="">
                                <li><span><i class="fa fa-bookmark"></i></span> Save</li>
                            </a>
                            
                            <li>
                                <button><span><i class="fa fa-share"></i></span> Share</button>
                            </li>
                            
                            <a href="">
                                <li><span><i class="fa fa-ban"></i></span> Report</li>
                            </a>
                            <a href="">
                                <li><span><i class="fa fa-th"></i></span> Similar</li>
                            </a>
                        </ul>
                    </div>
                    <div class="book-heading">
                        <h3>Java Bigginers guide
                            6th Edition with - new
                        </h3>
                    </div>
                    <div class="book-thumbnail">
                        <img src="~/assets/bg-mob.jpg" alt="">
                        <h4>Rs. <span>450</span></h4>
                    </div>
                    <div class="book-checkout">
                        <a href="">Checkout</a>
                    </div>
                    <div class="book-spec">
                        <div class="book-likes">
                            <p>138</p>
                            <a href="">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <div class="book-views">
                            <p>458</p>
                            <a href="">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                        <div class="book-feadback">
                            <p>56</p>
                            <a href="">
                                <i class="fa fa-comments"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- <div class="book-card">
                    <div class="more">
                        <button><span><i class="fa fa-ellipsis-v"></i></span></button>
                    </div>
                    <div class="card-layer"></div>
                    <div class="more-options">
                        <ul>
                            <a href="">
                                <li><span><i class="fa fa-bookmark"></i></span> Save</li>
                            </a>
                            
                            <li>
                                <button><span><i class="fa fa-share"></i></span> Share</button>
                            </li>
                            
                            <a href="">
                                <li><span><i class="fa fa-ban"></i></span> Report</li>
                            </a>
                            <a href="">
                                <li><span><i class="fa fa-th"></i></span> Similar</li>
                            </a>
                        </ul>
                    </div>
                    <div class="book-heading">
                        <h3>Java Bigginers guide
                            6th Edition with - new
                        </h3>
                    </div>
                    <div class="book-thumbnail">
                        <img src="./../assets/bg-mob.jpg" alt="">
                        <h4>Rs. <span>450</span></h4>
                    </div>
                    <div class="book-checkout">
                        <a href="">Checkout</a>
                    </div>
                    <div class="book-spec">
                        <div class="book-likes">
                            <p>138</p>
                            <a href="">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <div class="book-views">
                            <p>458</p>
                            <a href="">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                        <div class="book-feadback">
                            <p>56</p>
                            <a href="">
                                <i class="fa fa-comments"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="book-card">
                    <div class="more">
                        <button><span><i class="fa fa-ellipsis-v"></i></span></button>
                    </div>
                    <div class="card-layer"></div>
                    <div class="more-options">
                        <ul>
                            <a href="">
                                <li><span><i class="fa fa-bookmark"></i></span> Save</li>
                            </a>
                            
                            <li>
                                <button><span><i class="fa fa-share"></i></span> Share</button>
                            </li>
                            
                            <a href="">
                                <li><span><i class="fa fa-ban"></i></span> Report</li>
                            </a>
                            <a href="">
                                <li><span><i class="fa fa-th"></i></span> Similar</li>
                            </a>
                        </ul>
                    </div>
                    <div class="book-heading">
                        <h3>Java Bigginers guide
                            6th Edition with - new
                        </h3>
                    </div>
                    <div class="book-thumbnail">
                        <img src="./../assets/bg-mob.jpg" alt="">
                        <h4>Rs. <span>450</span></h4>
                    </div>
                    <div class="book-checkout">
                        <a href="">Checkout</a>
                    </div>
                    <div class="book-spec">
                        <div class="book-likes">
                            <p>138</p>
                            <a href="">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <div class="book-views">
                            <p>458</p>
                            <a href="">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                        <div class="book-feadback">
                            <p>56</p>
                            <a href="">
                                <i class="fa fa-comments"></i>
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
           
        </div>
        <div class="most-valued-container">
            <div class="sub-header">
                <div class="sub-heading">
                    <h2><span><i class="fa fa-chess-queen"></i></span> Suggestions</h2>
                </div>
                <div class="edit-suggestion">
                    <a href="">Edit <i class="fa fa-pen"></i></a>
                </div>
            </div>
            <div class="book-container">
                <div class="book-card">
                    <div class="more">
                        <button><span><i class="fa fa-ellipsis-v"></i></span></button>
                    </div>
                    <div class="card-layer"></div>
                    <div class="more-options">
                        <ul>
                            <a href="">
                                <li><span><i class="fa fa-bookmark"></i></span> Save</li>
                            </a>
                            
                            <li>
                                <button><span><i class="fa fa-share"></i></span> Share</button>
                            </li>
                            
                            <a href="">
                                <li><span><i class="fa fa-ban"></i></span> Report</li>
                            </a>
                            <a href="">
                                <li><span><i class="fa fa-th"></i></span> Similar</li>
                            </a>
                        </ul>
                    </div>
                    <div class="book-heading">
                        <h3>Java Bigginers guide
                            6th Edition with - new
                        </h3>
                    </div>
                    <div class="book-thumbnail">
                        <img src="~/assets/bg-mob.jpg" alt="">
                        <h4>Rs. <span>450</span></h4>
                    </div>
                    <div class="book-checkout">
                        <a href="">Checkout</a>
                    </div>
                    <div class="book-spec">
                        <div class="book-likes">
                            <p>138</p>
                            <a href="">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <div class="book-views">
                            <p>458</p>
                            <a href="">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                        <div class="book-feadback">
                            <p>56</p>
                            <a href="">
                                <i class="fa fa-comments"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
